extends layout
block content
    header.card-header
        h4.card-title Update Produce
    form(method="post" action="/approveproduce?id="+item._id)
        table.table
            thead.thead-dark
                    tr
                        th ProductName
                        td 
                            input.form-control(value = item.pname name ="pname")
                    tr
                        th WardName
                        td 
                            input.form-control(value = item.ward name ="ward") 
                    tr
                        th DateofRegistration
                        td 
                            input.form-control(value = item.dateOfRegistration name ="dateOfRegistration")
                    tr
                        th UnitPrice(UGX)
                        td 
                            input.form-control(value = item.price name ="price")
                    tr
                        th ProductQuantity(kgs)
                        td 
                            input.form-control(value = item.pquantity name ="pquantity")
                    tr
                        th Directions
                        td 
                            input.form-control(value = item.directions name ="directions")
                    tr
                        th ModeOfPayment
                        td 
                            input.form-control(value = item.modeOfPayment name ="modeOfPayment")
                    tr
                        th ModeOfDelivery
                        td 
                            input.form-control(value = item.modeOfDelivery name ="modeOfDelivery")
                    tr
                        th ProduceType
                        td 
                            input.form-control(value = item.produceType name ="produceType")
                    tr
                        th ProduceImage
                        td 
                            img(src="/uploads/"+ item.pImage height="100px", width="100px")
                    tr
                        th ApprovedBy
                        td 
                            input.form-control( name ="approvee" type="text")
                    tr
                        th Status
                        td 
                            input.form-control( valu=item.status name ="status" type="text")
                            
                            
                    tr 
                        td(colspan="2")
                            button.btn.btn-block.btn-dark(type="submit") Approved


