meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
link(rel="stylesheet", href="/css/bootstrap_css/bootstrap.css")
link(rel="stylesheet", href="/css/f1registration.css")
title FarmerOne Registration
.container 
  h3 FarmerOne Registration
  form(method="POST" action="/farmerOne")#regForm
    .form-row
      .form-group.col-md-6
        label(for="fname") First Name
        input.form-control#fname(name="fname", type="text" placeholder="Allan")
      .form-group.col-md-6
        label(for="lname") Last Name
        input.form-control#lname(name="lname", type="text" placeholder="Assimwe")
    .form-row
      .form-group.col-md-6
        label(for="dob") Date Of Birth
        input.form-control#dob(name="dob", type="date" )
      .form-group.col-md-6
        label(for="dor") Date of Registration
        input.form-control#dor(name="dor", type="date" )
    .form-row
      .form-group.col-md-6
        label(for="nin") National Identification Number
        input.form-control#nin(name="nin", type="text" placeholder="CF5R9IK097890")
      .form-group.col-md-6
        label(for="phone") Contact
        input.form-control#phone(name="phone", type="number" placeholder="0786145913")
    .form-row
      .form-group.col-md-6
        label(for="ufid") UniqueID
        input.form-control#foid(name="foid", type="string", placeholder="AA789")
      .form-group.col-md-6
        label(for="ufid") Residence Type
        input.form-control#restype(name="restype", type="text", placeholder="Apartment")
    .form-row
      .form-group.col-md-6
        label(for="ward") Ward
        select#ward.form-control(name="ward" type="text")
          option(value="Ward 1") Ward 1
          option(value="Ward 2") Ward 2
          option(value="Ward 3") Ward 3
          option(value="Ward 4") Ward 4
      .form-group.col-md-6
        label(for="acts") Farming Activities
        select#acts.form-control(name="acts" type="text")
            option(value="Horticulture") Horticulture
            option(value="Poultry") Poultry
            option(value="Dairy") Dairy
    .form-row
      .form-group.col-md-6
        label(for="home") Home Location
        input.form-control#home(name="home", type="text", placeholder="Masajja A")
      .form-group.col-md-6
        label(for="stayperiod") Stay Period(Years)
        input.form-control#stayperiod(name="stayperiod", type="number", placeholder="13" )
    fieldset.form-group.col-md-12
      .row
        legend.col-form-label.col-sm-2.pt-0 Gender
        .col-sm-10
          .form-check
            input.form-check-input#gender1(type="radio", name="gender", value="Female", checked)
            label.form-check-label(for="gender1").
            |Female   
          .form-check
            input.form-check-input#gender2(type="radio", name="gender", value="Male")
            label.form-check-label(for="gender2"). 
            |Male         
    button.btn.btn-warning(style="width: 60%; margin-left: 100px;", type="submit" onsubmit="foRegistration()") Register
script(src="/js/validateFO.js")
script(src="/js/jquery-3.5.1.slim.min.js")
script(src="/js/popper.min.js")
script(src="/js/bootstrap_js/bootstrap.js")
