meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title HeadFarmerRegistration
link(rel="stylesheet", href="/css/farmerOneReg.css")
link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,500&display=swap", rel="stylesheet")
.container
  form#regForm(method="POST" action="/farmerOne")
    h1 Register Farmer One
    //-  One "tab" for each step in the form: 
    .tab
      fieldset
        legend Personal Information
        p
          input(name="name", type="text", placeholder="Names...", oninput="this.className = \'\'")
        p
          input(name="gender", type="text", placeholder="Gender", oninput="this.className = \'\'")
        p
          input(name="dateOfBirth", type="date", placeholder="Date of Birth", oninput="this.className = \'\'")
        p
          input(name="dateOfRegistration", type="date", placeholder="Date of Registration", oninput="this.className = \'\'")
        p
          input(name="nin", type="text", placeholder="National Identification Number", oninput="this.className = \'\'")
        p
          input(name="phonenumber", type="tel", placeholder="PhoneNumber", oninput="this.className = \'\'")
    .tab
      fieldset
        legend Ufarm Identification
        p
          input(name="foNumber", type="number", placeholder="Unique FO Number", oninput="this.className = \'\'")
        p
          input(name="ward", type="text", placeholder="Ward", oninput="this.className = \'\'")
        p
          input(name="homeLocation", type="text", placeholder="Home Location", oninput="this.className = \'\'")
        p
          input(name="residenceType", type="text", placeholder="Residence Type", oninput="this.className = \'\'")
        p
          input(name="stayperiod", type="number", placeholder="Period of Stay", oninput="this.className = \'\'")
        p
          input(name="activities", type="text", placeholder="Activities", oninput="this.className = \'\'")
    div(style="overflow:auto;")
      div(style="float:right;")
        button#prevBtn(type="button", onclick="nextPrev(-1)") Previous
        button#nextBtn(type="button", onclick="nextPrev(1)") Next
    //-   Circles which indicates the steps of the form: 
    div(style="text-align:center;margin-top:40px;")
      span.step
      span.step
  script(src="/js/headfarmerReg.js")