doctype html
html
    head
        link(rel="icon", href="images/favicon.jpg", sizes="16x16", type="image/png")
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        title farmeOnes
    body
        .row.justify-content-center
                    div.col-md-12
                        div.card-body
                            block content
    
