meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
link(rel="stylesheet", href="/css/bootstrap_css/bootstrap.css")
link(rel="shortcut icon" href="images/favicon.jpg" type="image/x-icon")
link(rel="stylesheet", href="/css/registraton.css")
title Produce Registration
.container
  h3 Produce Registration
  form(method="POST" action="/ufarmer" enctype="multipart/form-data")
    .form-row
      .form-group.col-md-6
        label(for="fname") Name of Produce
        input.form-control#fname(name="fname", type="text")
      .form-group.col-md-6
        label(for="Ward") Ward Name
        select#ward.form-control(name="ward")
          option(value="Ward 1") Ward 1
          option(value="Ward 2") Ward 2
          option(value="Ward 3") Ward 3
          option(value="Ward 4") Ward 4
    .form-row
      .form-group.col-md-6
        label(for="dob") Date Of Registration
        input.form-control#dob(name="dob", type="date")
      .form-group.col-md-6
        label(for="price") Unit Price(UGX)
        input.form-control#dor(name="price", type="number")
    .form-row
      .form-group.col-md-6
        label(for="qty") Quantity
        input.form-control#nin(name="nin", type="number")
      .form-group.col-md-6
        label(for="ufid") Directions
        input.form-control#ufid(name="ufid", type="text", placeholder="Directions to farm")
    .form-row
      .form-group.col-md-6
        label(for="lname") Mode of Payment
        select#acts.form-control(name="acts")
          option(value="Horticulture") Cash
          option(value="Poultry") Mobile Money
      .form-group.col-md-6
        label(for="phone") Mode of Delivery
        select#acts.form-control(name="acts")
          option(value="Horticulture") Pickup
          option(value="Poultry") Home Delivery
    .form-row
      .form-group.col-md-6
        label(for="acts") Produce Type
        select#acts.form-control(name="acts")
          option(value="Horticulture") Organic
          option(value="Poultry") Non Organic
      .form-group.col-md-6
        label(for="image") Upload Picture
        input.form-control-file#image(name="image", type="file")
        
             
  button.btn.btn-primary(style="width: 100%;", type="submit") Register
script(src="/js/jquery-3.5.1.slim.min.js")
script(src="/js/popper.min.js")
script(src="/js/bootstrap_js/bootstrap.js")