meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
title Ufarm 
link(rel="shortcut icon", href="/images/favicon.jpg", type="image/x-icon")
link(href="/css/bootstrap_css/bootstrap.min.css", rel="stylesheet")
link(href="/css/dashboard.css", rel="stylesheet")
link(rel="stylesheet", href="/css/table.css")
nav.navbar.navbar-dark.sticky-top.bg-success.flex-md-nowrap.p-0.shadow
  a.navbar-brand.col-md-3.col-lg-2.mr-0.px-3(href="#", style="font-size: 28px; font-weight:bolder; margin-left:25px;") Ufarm
  button.navbar-toggler.position-absolute.d-md-none.collapsed(type="button", data-toggle="collapse", data-target="#sidebarMenu", aria-controls="sidebarMenu", aria-expanded="false", aria-label="Toggle navigation")
    span.navbar-toggler-icon
  input.form-control.form-control-light.w-60(type="text", placeholder="Search", style="border-radius:5px")
  ul.navbar-nav.px-3
    li.nav-item.text-nowrap
        form(method="POST" action="/logout")
          button.btn.btn-dark.btn-sm(style="margin-top: 0px") Logout
.container-fluid
  .row
    block content

footer(style="")
  .bottom
    center
        span.credit Created By the Agritect |
        span.far.fa-copyright
        |2020 All rights reserved.

script(src="/js/popper.min.js")
script(src="/js/jquery-3.5.1.slim.min.js")
script(src="/js/bootstrap_js/bootstrap.bundle.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js")
