meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
link(rel="stylesheet", href="/css/bootstrap_css/bootstrap.css")
link(rel="stylesheet", href="/css/registraton.css")
link(rel="shortcut icon" href="/images/favicon.jpg" type="image/x-icon")
link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,400;1,500&display=swap", rel="stylesheet")
title Urban Farmer Registration
.container
  h3 Urban Farmer Registration
  form(method="POST" action="/ufarmer")
    .form-row
      .form-group.col-md-6
        label(for="fname") First Name
        input.form-control#fname(name="fname", type="text")
      .form-group.col-md-6
        label(for="lname") Last Name
        input.form-control#sname(name="lname", type="text")
    .form-row
      .form-group.col-md-6
        label(for="dob") Date Of Birth
        input.form-control#dob(name="dob", type="date")
      .form-group.col-md-6
        label(for="dor") Date of Registration
        input.form-control#dor(name="dor", type="date")
    .form-row
      .form-group.col-md-6
        label(for="nin") National Identification Number
        input.form-control#nin(name="nin", type="text")
      .form-group.col-md-6
        label(for="phone") Contact
        input.form-control#phone(name="phone", type="tel")
    .form-row
      .form-group.col-md-6
        label(for="Ward") WardName
        select#ward.form-control(name="ward")
          option(value="Ward 1") Ward1
          option(value="Ward 2") Ward2
          option(value="Ward 3") Ward3
          option(value="Ward 4") Ward4
      .form-group.col-md-6
        label(for="ufid") Ufarmer Number
        input.form-control#ufid(name="ufid", type="text", placeholder)
    .form-group
      label(for="acts") Farming Activities
      select#acts.form-control(name="acts")
        option(value="Horticulture") Horticulture
        option(value="Poultry") Poultry
        option(value="Dairy") Dairy
    fieldset.form-group.col-md-12
      .row
        legend.col-form-label.col-sm-2.pt-0 Gender
        .col-sm-10
          .form-check
            input.form-check-input#gender1(type="radio", name="gender", value="Female", checked)
            label.form-check-label(for="gender1").
              
              Female
              
          .form-check
            input.form-check-input#gender2(type="radio", name="gender", value="Male")
            label.form-check-label(for="gender2").
              
              Male
              
    button.btn.btn-warning(style="width: 100%;", type="submit" ) Register
script(src="/js/jquery-3.5.1.slim.min.js")
script(src="/js/popper.min.js")
script(src="/js/bootstrap_js/bootstrap.js")