extends farmerOneslayout
block content
    header.card-header
        h4.card-title Farmer Ones
            form(method="post" action="/update?id="+user._id)
                table.table
                    thead.thead-dark
                        tr
                            th Name
                            td 
                                input.form-control(value = user.name name ="name")
                        tr
                            th Gender
                            td 
                                input.form-control(value = user.gender name ="gender") 
                        tr
                            th Date Of Birth
                            td 
                                input.form-control(value = user.dateOfBirth name ="dateOfBirth")
                        tr
                            th Date of Registration
                            td 
                                input.form-control(value = user.dateOfRegistration name ="dateOfRegistration")
                        tr
                            th NIN
                            td 
                                input.form-control(value = user.nin name ="nin")
                        tr
                            th Tel
                            td 
                                input.form-control(value = user.phonenumber name ="phonenumber")
                        tr
                            th FO Number
                            td 
                                input.form-control(value = user.foNumber name ="foNumber")
                        tr
                            th Ward
                            td 
                                input.form-control(value = user.ward name ="ward")
                        tr
                            th Home Location
                            td 
                                input.form-control(value = user.homeLocation name ="homeLocation")
                        tr
                            th Residence Type
                            td 
                                input.form-control(value = user.residenceType name ="residenceType")
                        tr
                            th Period of Stay
                            td 
                                input.form-control(value = user.stayperiod name ="stayperiod")
                        tr
                            th Activities
                            td 
                                input.form-control(value = user.activities name ="activities")
                        tr
                            th Residence Type
                            td 
                                input.form-control(value = user.residenceType name ="residenceType")           
                        tr 
                            td(colspan="2")
                                button.btn.btn-dark.btn-block(type="submit") Update
            

