/* Main Content */
html{
    width: 100%;
    height: 100%;
    font-family: Montserrat;
}

body{
    width: 100%;
    height: 100%;
    margin: 2px ;
    
}
.container-bg{
    background: url('../images/background\ \(4\).jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%; 
} 

 header{
    height: 10px; 
    margin: 0;
} 
p{
    font-size: 20px;
}
h1{
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px #666666;
    margin-bottom: 20px; 
    margin-left: 20px;
}  
header img{
    width: 40px;
    position: relative;
    left: 120px;
    top: 7px;
} 

.nav-container{
    float: right;
}

.nav-container ul{
    margin: 0;
}

.nav-container ul li {
    display: inline-block;
    font-size: larger;
    font-weight: bolder;
}

.nav-container ul li a {
    color: #000000;
    text-decoration: none;
    position: relative;
    top: 40px;
    right: 120px;
    margin: 0px 0px 0px 20px;
    padding: 0px 4px 6px 4px;
    

} 

.nav-container ul li a:hover {
    color: #666666;  
    transition: 0.25s  ease-in;  

}

.active{
    border-bottom: 1px solid #000000;
}



.content-wrapper{
    margin-left: 20px;
    width: 80%;
    /* text-align: center; */
    position: relative;
    top: 40%;
}

.content-wrapper p{
 /* text-transform: uppercase; */
 color: white;
 /* margin: 2px 0px 20px 0px; */
 margin-left: inherit;
}

.content-wrapper button{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid orange;
    padding: 8px 16px;
    font-size: 22px;
    font-weight: bolder;
    margin-left: inherit;
    width: 200px;
    

} 


.fab{
    color: grey;
    font-size: 80px;

}

.fab:hover{
    color: blue;
    font-size: 80px;
}  

.farmwards{
    margin-top: 20px;
}


.bg-login{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.7); 
    opacity: 0.7;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.loginform{
    width: 500px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.button {
	background-color: orange;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: white;
	margin-top: 10px;
	display: inline-block;
	
}
.button:hover {
    background-color: white;
    color: orange;
    border: 2px solid orange;
}

.cred {
    width: 80%;
    display: block; 
    margin: 15px auto; 
    height: 40px;
    font-weight: bolder;
    border: 2px solid burlywood;
    border-radius: 4px;
}
.close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}