footer
  .main-content
    .left.box
      h2 About us
      .content
        p
        |We promote and support the urban farming practice by easing market access to improve on family earnings and livelihoods
          
        .social
          a(href)
            span.fab.fa-facebook-f
          a(href="#")
            span.fab.fa-twitter
          a(href)
            span.fab.fa-instagram
          a(href)
            span.fab.fa-youtube
    .center.box
      h2 Address
      .content
        .place
          span.fas.fa-map-marker-alt
          span.text Kampala, Uganda
        .phone
          span.fas.fa-phone-alt
          span.text +256-70619933
        .email
          span.fas.fa-envelope
          span.text info@ufarm.co.ug
    .right.box
      h2 Contact us
      .content
        form(action="#")
          .email
            .text Email *
            input(type="email", required)
          .msg
            .text Message *
            textarea#msgForm(rows="2", cols="70", required)
            br
            .btn
              button(type="submit") Send
            .bottom
              center
                span.credit Created By the Agritect|
                span.far.fa-copyright
                |  2020 All rights reserved.