<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/Public/css/bootstrap_css/bootstrap.css">
  <link rel="stylesheet" href="/Public/css/agricOffSignUp.css">
  <script src="https://kit.fontawesome.com/8af5379226.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,400;1,500&display=swap" rel="stylesheet">
  <title>Agricultural Officer SignUp</title>
</head>
<body>
  <div class="container col-md-4">
    <h3 style="margin-left: 10%;">Create Account</h3>
  <form id="signupForm"> 
      <div class="form-group col-md-12">
        <label for="fname">First Name</label>
        <input name="fname" type="text" class="form-control" id="fname"  placeholder="Patricia">
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i>
        <small>Error Message</small>
      </div>
      <div class="form-group col-md-12">
        <label for="lname">Last Name</label>
        <input name="lname" type="text" class="form-control" id="lname"  placeholder="Nekesa">
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i>
        <small>Error Message</small>
      </div>
      
    
      <div class="form-group col-md-12">
        <label for="uname">User Name</label>
        <input name="uname" type="text" class="form-control" id="uname" placeholder="Kesa123">
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i>
        <small>Error Message</small>
        </div>
      <div class="form-group col-md-12">
        <label for="pass">Password</label>
        <input name="pass" type="password" class="form-control" id="pass" >
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i>
        <small>Error Message</small>
      </div>
    
    <button style="width: 100%; margin-top: 20px;"  class="btn btn-primary">Submit</button>
  </form>
  </div>
  <!-- <script src="/Public/js/jquery-3.5.1.slim.min.js"></script>
  <script src="/Public/js/popper.min.js"></script>
  <script src="/Public/js/bootstrap_js/bootstrap.js"></script> -->
  <script src="/Public/js/validateAO.js"></script>
</body>
</html>