<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/Public/css/footer.css"/>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <footer>
      <div class="main-content">
        <div class="left box">
          <h2>About us</h2>
          <div class="content">
            <p>
            We promote and support the urban farming practice by easing market access to 
            improve on family earnings and livelihoods
            </p>
            <div class="social">
              <a href=""
                ><span class="fab fa-facebook-f"></span
              ></a>
              <a href="#"><span class="fab fa-twitter"></span></a>
              <a href=""
                ><span class="fab fa-instagram"></span
              ></a>
              <a href=""
                ><span class="fab fa-youtube"></span
              ></a>
            </div>
          </div>
        </div>
        <div class="center box">
          <h2>Address</h2>
          <div class="content">
            <div class="place">
              <span class="fas fa-map-marker-alt"></span>
              <span class="text">Kampala, Uganda</span>
            </div>
            <div class="phone">
              <span class="fas fa-phone-alt"></span>
              <span class="text">+256-70619933</span>
            </div>
            <div class="email">
              <span class="fas fa-envelope"></span>
              <span class="text">info@ufarm.co.ug</span>
            </div>
          </div>
        </div>
        <div class="right box">
          <h2>Contact us</h2>
          <div class="content">
            <form action="#">
              <div class="email">
                <div class="text">Email *</div>
                <input type="email" required />
              </div>
              <div class="msg">
                <div class="text">Message *</div>
                <textarea id=".msgForm" rows="2" cols="70" required></textarea>
                <br/>
                <div class="btn">
                  <button type="submit">Send</button>
                </div>
                <div class="bottom">
                  <center>
                    <span class="credit">Created By the Agritect|</span>
                    <span class="far fa-copyright"></span> 2020 All rights
                    reserved.
                  </center>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
