<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban Farmers</title>
    <link rel="stylesheet" href="/Public/css/bootstrap_css/bootstrap.css">
    <link rel="stylesheet" href="/Public/css/registraton.css">
</head>
<body>
<div class="container">
    <h3>Registered Urban Farmers</h3>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>

        </tbody>
      </table> 

</div>

    <script src="/Public/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/Public/js/popper.min.js"></script>
    <script src="/Public/js/bootstrap_js/bootstrap.js"></script>
</body>
</html>